body{
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    text-transform: uppercase;
}

header, main, aside, footer{
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #dfdddd;
    border-radius: 0.4rem;
    color: #000;
}

header{
    flex-basis: 100%;
}

main{
    height: 300px;
    flex: 8 1 40rem;
}

aside{
    height: 300px;
    flex: 2 1 20rem;
}

footer{
    width: 100%;
}